
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background-color: #031813ea;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  
  header,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }





  